extends layout

block content
    p
    .col-md-4.offset-4
        h2 Register
        form(method='POST', action='/users/register')
            .form-group
                label Name:
                input.form-control(name='name', type='text')
            .form-group
                label Email Address:
                input.form-control(name='email', type='email')
            .form-group
                label Username:
                input.form-control(name='username', type='text')
            .form-group
                label Password:
                input.form-control(name='password', type='password')
            .form-group
                label Confirm Password:
                input.form-control(name='cpassword', type='password')
            .form-group
                input.btn.btn-outline-dark(type='submit', value='Register')